.Nosotros {
    font-weight: 600;

}

.txt-nosotros {
    text-align: center;
    margin: 15px !important;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.row {
    padding: 15px;
}
