@media screen and (max-width:850px) {
    .suplementos {
        div {
            flex-direction: column;

            img {
                display: none;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:810px) {
    .grid-productos {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;

        .img-1 {
            display: none;
        }

        .txt-2 {
            grid-column: span 3;
        }

    }

}


@media screen and (max-width:650px) {
    .suplementos{
        div{
            p{
                font-size: 25px;
            }
            }
        }

    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
        .grid-item{
            grid-row: span 1;
            grid-column: span 1;
            }
        .txt-2{
            grid-column: span 2;
            h3{
                font-size: 20px;
            }
        }
        }
}



@media screen and (max-width:450px) {
    .suplementos{
        div{
            p{
                font-size: 15px;
            }
        }
        }
    .grid-productos {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 150px;
        .txt-2{
            grid-column: span 1;
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            }
        }
    footer {
        background-color: rgb(200, 199, 199)
    }
    /*----Pagina de compradores-----*/
    .clientes-div{
        div{
            height: 65vh;
        }
    }
}